@model prjCramSchoolSystemUser.ViewModel.CCourseViewModel

@{
    ViewData["Title"] = "Detail";
}
@section Styles{
    <style>
        .coverimg {
            border: 2px green dashed;
        }
        #table_title {
            color: #111111;
            font-weight: 600;
            text-transform: uppercase;
            /*border-bottom: 1px solid #e1e1e1;*/
            padding-top: 15px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        
    </style>
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>課程詳情</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Home</a>
                    <a href="./shop.html">List</a>
                    <span>Course</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<form asp-action="Edit" class="product-details spad form-inline" enctype="multipart/form-data" style="padding-top:30px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container" id="product_imgs">
        <div class="row">
            <div class="container">
                <!-- Blog Section Begin -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="">
                            @*blog__item*@
                            @{
                                string imgPath = Model.courseimg;
                                if (imgPath == "NullImg.jpg")
                                {
                                    imgPath = Url.Content("~/images/NullImg.jpg");
                                }
                                <div class="blog__item__pic set-bg">
                                    <img class="blog__item__pic set-bg uploadImg" src="@imgPath" style="width: 100%; height: 100%; object-fit: cover; " />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="hidden" asp-for="@Model.course.FEchelonId" id="casestatus" />
                        <input type="hidden" asp-for="@Model.course.FName" id="casestatus" />
                        <div class="product__details__text">
                            <div class="product__label">@Html.DisplayFor(model => model.ClassState)</div>
                            <h4 style="margin-bottom: 10px; margin-top: 10px;">@Html.DisplayFor(model => model.course.FCourse.FName)</h4>
                            @{
                                string originalprice = "";
                                if (Model.course.FCourse.FOriginalPrice != null)
                                {
                                    originalprice = String.Format("{0:0,0}", (decimal)Model.course.FCourse.FOriginalPrice);
                                }
                                DateTime _starttime = Convert.ToDateTime(Model.course.FStartTime);
                                string StartTime = _starttime.ToString("yyyy") + "年" + _starttime.ToString("MM") + "月" + _starttime.ToString("dd") + "日";
                                DateTime _endtime = Convert.ToDateTime(Model.course.FEndTime);
                                string EndTime = _endtime.ToString("yyyy") + "年" + _endtime.ToString("MM") + "月" + _endtime.ToString("dd") + "日";
                                //特價
                                if (Model.course.FDiscountDate >= DateTime.Now)
                                {
                                    <h5 style="text-decoration: line-through; border-bottom:none; padding-bottom:0px; margin-bottom:5px;">$@originalprice</h5>
                                    <h5 style="border-bottom: none; padding-bottom: 0px; margin-bottom: 5px; ">$@Model.Price</h5>
                                    <ul style="padding-bottom: 0px; margin-bottom: 5px;">
                                        <li>優惠價錢至<span>@Model.DiscountDate</span></li>
                                    </ul>
                                }
                                //原價
                                else
                                {
                                    <h5 style="padding-bottom: 0px; margin-bottom: 5px;">$@Model.Price</h5>
                                }
                            }
                            <ul style="padding-bottom: 0px; margin-bottom: 5px;padding-top:0px;margin-top:5px;">
                                <li>授課年級:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FCourse.FGrade)</span><span style="padding-left:6px;">@Model.SchoolYear</span><span>學期</span></li>
                                @*<li>學期:<span style="padding-left:6px;">@Model.SchoolYear</span></li>*@
                                <li>課程堂數:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FCourse.FTotalNumber)</span></li>
                                <li>課程總時數:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FCourse.FTotalHours)</span></li>
                                <li>開班日期:<span style="padding-left:6px;">@StartTime</span>~<span>@EndTime</span></li>
                                <li>上課時間:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FTime)</span></li>
                                <li>授課老師:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FTeacher)</span></li>
                            </ul>
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Section End -->
            <div class="col-lg-12" style="padding-top:20px;">
                <h5 id="table_title">課程大綱</h5>
                <div class="product__details__text">
                    <p>
                        @Html.DisplayFor(model => model.course.FCourse.FSummary)
                    </p>
                </div>
            </div>
            @{
                if (Model.Detail_List.Count > 0)
                {
                    foreach (var item in Model.Detail_List)
                    {
                        <div class="col-lg-12" style="padding-bottom: 20px;">
                            <h5 id="table_title">課程細項</h5>
                            <table class="table table-hover" style="border-style: none;">
                                <thead>
                                    <tr>
                                        <th scope="col">課堂數</th>
                                        <th scope="col">課堂進度(頁數)</th>
                                        <th scope="col">課程進度說明</th>
                                        <th scope="col">授課方式</th>
                                        <th scope="col">說明</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_Detail">
                                    <tr>
                                        <th scope="row">@item.FCourseNumber</th>
                                        <td>@item.FSchedule</td>
                                        <td>@item.FScheduleDetail</td>
                                        <td>@item.FTeachingMethod</td>
                                        <td>@item.FRemark</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
        </div>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
<script>
        //getPeopleNumber();

        //一開始 欄位預設值輸入
        function getPeopleNumber() {
            let status = $("#casestatus").val();
            //console.log(status);
            //新增課程
            if (status == "") {
                $("#txtBasicPeople").val(0);
                $("#txtLimitPeople").val(0);
            }
            //封面圖
            if ($("#txtcoverimg").val() != "") {
                let t = "#" + $("#txtcoverimg").val();
                let cover_picture = $(".product__details__big__img").eq(0).children(".divImg").children("img");
                console.log(cover_picture)
                let targetdiv = $(t);
                console.log(targetdiv)

                $(t).closest(".divImg").html(cover_picture);
                $(".product__details__big__img").eq(0).children(".divImg").html(targetdiv);
                $(".coverimg").eq(0).removeClass("coverimg");
                $(".product__details__big__img").eq(0).children(".divImg").children("img").addClass("coverimg");
            }
        }
</script>
}